html {
    height: 100%;
    width: 100%
}

body {
    background-color: rgb(0, 0, 0);
}

img {
    margin-left: auto;
    margin-right: auto;
}

/*Fonts*/
h1, h2, h3, p, a, label, ul{
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(238, 42, 53);
}

h1, h2, a {
    font-family: 'Courier New', monospace;
}

li, p {
    font-family: Verdana, sans-serif;
    font-style: italic;
}

/*Divs*/
.bg1 {
    background-color: rgb(0, 151, 54); 
    margin: auto;
}

.bg2 {
    background-color: rgb(0, 56, 184);
    text-align: center;
    margin: auto;
}
